.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_11.xml
.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_11.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_3_3.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_7.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_7.xml
.idea/libraries/Gradle__com_h2database_h2_1_4_193.xml
.idea/libraries/Gradle__com_jayway_jsonpath_json_path_2_2_0.xml
.idea/libraries/Gradle__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Gradle__dom4j_dom4j_1_6_1.xml
.idea/libraries/Gradle__javax_transaction_javax_transaction_api_1_2.xml
.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__net_minidev_accessors_smart_1_1.xml
.idea/libraries/Gradle__net_minidev_json_smart_2_2_1.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_5_11.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_5_11.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_11.xml
.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_8_5_11.xml
.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_8_5_11.xml
.idea/libraries/Gradle__org_aspectj_aspectjweaver_1_8_9.xml
.idea/libraries/Gradle__org_assertj_assertj_core_2_6_0.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_core_5_0_12_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_entitymanager_5_0_12_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_3_4_Final.xml
.idea/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Gradle__org_javassist_javassist_3_21_0_GA.xml
.idea/libraries/Gradle__org_jboss_jandex_2_0_0_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Gradle__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Gradle__org_objenesis_objenesis_2_1.xml
.idea/libraries/Gradle__org_ow2_asm_asm_5_0_3.xml
.idea/libraries/Gradle__org_postgresql_postgresql_9_4_1212_jre7.xml
.idea/libraries/Gradle__org_projectlombok_lombok_1_16_14.xml
.idea/libraries/Gradle__org_skyscreamer_jsonassert_1_4_0.xml
.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_24.xml
.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_24.xml
.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_24.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_24.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_autoconfigure_1_5_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_data_spring_data_commons_1_13_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_1_11_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aop_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aspects_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jdbc_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_orm_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_test_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_tx_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_7_RELEASE.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_17.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/SpringDataJpa.iml
.idea/modules/SpringDataJpa_main.iml
.idea/modules/SpringDataJpa_test.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Gradle__com_google_guava_guava_18_0.xml
.idea/libraries/Gradle__io_springfox_springfox_core_2_6_1.xml
.idea/libraries/Gradle__io_springfox_springfox_schema_2_6_1.xml
.idea/libraries/Gradle__io_springfox_springfox_spi_2_6_1.xml
.idea/libraries/Gradle__io_springfox_springfox_spring_web_2_6_1.xml
.idea/libraries/Gradle__io_springfox_springfox_swagger2_2_6_1.xml
.idea/libraries/Gradle__io_springfox_springfox_swagger_common_2_6_1.xml
.idea/libraries/Gradle__io_swagger_swagger_annotations_1_5_10.xml
.idea/libraries/Gradle__io_swagger_swagger_models_1_5_10.xml
.idea/libraries/Gradle__org_mapstruct_mapstruct_1_0_0_Final.xml
